body{
    background: palegreen;
    margin-left: 100px;
    margin-right: 200px;
    
}
header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-size: 18px;
}
.img-padrao{
    margin-bottom: 20px;
    width: 300px;
}
.logo{
    width: 30px;
}